@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
$nunito-font: "Nunito", sans-serif;

@mixin breakpoint($point) {
  @if $point==mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.title {
  color: white;
  font-family: $nunito-font;
  font-weight: 600;
  text-align: center;
  font-size: 5vmin;
  margin-top: 31vmin;

  @include breakpoint(mobile) {
    margin-top: 65vmin;
  }
}

.subtitle {
  color: white;
  font-family: $nunito-font;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

.btn-back {
  border: 1px solid white;
  color: white;
  height: 5vmin;
  padding: 12px;
  font-family: $nunito-font;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background: white;
    color: #4d007d;
  }

  @include breakpoint(mobile) {
    font-size: 3.5vmin;
  }
}
